<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110845479034-h7j9i17s0522mdq0pf676t0tkp6nglef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110845479034-h7j9i17s0522mdq0pf676t0tkp6nglef</string>
	<key>API_KEY</key>
	<string>AIzaSyB-xiO8LiJ4Z6wu4swW3qfK-OuFf5dRLyY</string>
	<key>GCM_SENDER_ID</key>
	<string>110845479034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samueleskenasy.ShifManager</string>
	<key>PROJECT_ID</key>
	<string>new-shift-view</string>
	<key>STORAGE_BUCKET</key>
	<string>new-shift-view.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110845479034:ios:24a6ee4e1b72f3263513c3</string>
</dict>
</plist>